{% extends 'main/layout.html' %}
{% block header%}
<h1>Лаваш с яйцом на сковороде</h1>
{% endblock%}
{% block content%}

    <div style="margin-top:20px;" class="features">
                <div style="margin-top:0px;margin-bottom:200px;" class="alert alert-warning">
<!--                    <p>Ваша норма калорий в день: <strong>2124 кКал</strong></p>-->
<!--                    <p>Ваша норма белков в день: <strong>134 гр</strong></p>-->
<!--                    <p>Ваша норма углеводов в день: <strong>106 гр</strong></p>-->
<!--                    <p>Ваша норма жиров в день: <strong>82 гр</strong></p>-->
<!--                    <h3></h3>-->
<!--                    <p style="font-weight:bold;">День первый</p>-->
<!--                    <p style="font-weight:bold;">Завтрак: Творожные оладья с кусочками шоколада</p>-->
<!--                    <p>Ссылка на рецепт: clck.ru/dfe34</p>-->
<!--                    <p style="font-weight:bold;">Обед: Щавелевый суп на курином бульоне</p>-->
<!--                    <p>Ссылка на рецепт: clck.ru/dfr2t</p>-->
<!--                    <p style="font-weight:bold;">Ужин: Жульен из куриного бедра<p></p></p>-->
<!--                    <p>Ссылка на рецепт: clck.ru/grdg5g</p>-->

                    <img style="width:100%;margin-bottom:20px;"src="static/main/img/3.jpg" >
                    <h5 style="padding-top:10px;padding-bottom:2px;font-weight:normal; text-align:left; font-size:calc(13px + (13+13*0,7) * (100vw - 320px) / 1080);font-weight:bold;">Состав:</h5>
                    <h5 style="padding-top:10px;padding-bottom:2px;font-weight:normal; text-align:left; font-size:calc(11px + (11+11*0,7) * (100vw - 320px) / 1080);">Лаваш тонкий, 100 гр</h5>
                    <h5 style="padding-top:10px;padding-bottom:2px;font-weight:normal; text-align:left; font-size:calc(11px + (11+11*0,7) * (100vw - 320px) / 1080);">Яйца, 1 шт.</h5>
                    <h5 style="padding-top:10px;padding-bottom:2px;font-weight:normal; text-align:left; font-size:calc(11px + (11+11*0,7) * (100vw - 320px) / 1080);">Сливочное масло, 20 гр</h5>
                    <h5 style="padding-top:10px;padding-bottom:2px;font-weight:normal; text-align:left; font-size:calc(11px + (11+11*0,7) * (100vw - 320px) / 1080);">Вода, 200 мл</h5>
                    <h5 style="padding-top:10px;padding-bottom:2px;font-weight:normal; text-align:left; font-size:calc(11px + (11+11*0,7) * (100vw - 320px) / 1080);">Соль, 0.5 чайной ложки</h5> <br>
                    <h5 style="padding-top:10px;padding-bottom:7px;font-weight:normal; text-align:left; font-size:calc(13px + (13+13*0,7) * (100vw - 320px) / 1080);font-weight:bold;">Шаг 1</h5>
                    <h5 style="padding-top:10px;padding-bottom:7px;font-weight:normal; text-align:left; font-size:calc(11px + (11+11*0,7) * (100vw - 320px) / 1080);">Как пожарить лаваш с яйцом? Подготовьте все продукты. Вымойте яйцо и оботрите его салфеткой. Вбейте яйцо в миску и взбейте его вилкой.</h5>
                    <h5 style="padding-top:10px;padding-bottom:7px;font-weight:normal; text-align:left; font-size:calc(13px + (13+13*0,7) * (100vw - 320px) / 1080);font-weight:bold;">Шаг 2</h5>
                    <h5 style="padding-top:10px;padding-bottom:7px;font-weight:normal; text-align:left; font-size:calc(11px + (11+11*0,7) * (100vw - 320px) / 1080);">Кулинарными ножницами нарежьте из лаваша круги по размеру своей сковороды, в которой планируете готовить. Должно получиться чётное количество таких заготовок.</h5>
                    <h5 style="padding-top:10px;padding-bottom:7px;font-weight:normal; text-align:left; font-size:calc(13px + (13+13*0,7) * (100vw - 320px) / 1080);font-weight:bold;">Шаг 3</h5>
                    <h5 style="padding-top:10px;padding-bottom:7px;font-weight:normal; text-align:left; font-size:calc(11px + (11+11*0,7) * (100vw - 320px) / 1080);">В миску с водой добавьте соль и перемешайте до её растворения.</h5>
                    <h5 style="padding-top:10px;padding-bottom:7px;font-weight:normal; text-align:left; font-size:calc(13px + (13+13*0,7) * (100vw - 320px) / 1080);font-weight:bold;">Шаг 4</h5>
                    <h5 style="padding-top:10px;padding-bottom:7px;font-weight:normal; text-align:left; font-size:calc(11px + (11+11*0,7) * (100vw - 320px) / 1080);">Сковороду поставьте на плиту и разогрейте. Добавьте в сковороду чайную ложку сливочного масла и растопите его.</h5>
                    <h5 style="padding-top:10px;padding-bottom:7px;font-weight:normal; text-align:left; font-size:calc(13px + (13+13*0,7) * (100vw - 320px) / 1080);font-weight:bold;">Шаг 5</h5>
                    <h5 style="padding-top:10px;padding-bottom:7px;font-weight:normal; text-align:left; font-size:calc(11px + (11+11*0,7) * (100vw - 320px) / 1080);">Два круга из лаваша полностью окуните в подготовленную ёмкость с водой на пару секунд. Круги прочно приклеятся друг к другу. Это нам и нужно.</h5>
                    <h5 style="padding-top:10px;padding-bottom:7px;font-weight:normal; text-align:left; font-size:calc(13px + (13+13*0,7) * (100vw - 320px) / 1080);font-weight:bold;">Шаг 6</h5>
                    <h5 style="padding-top:10px;padding-bottom:7px;font-weight:normal; text-align:left; font-size:calc(11px + (11+11*0,7) * (100vw - 320px) / 1080);">Выложите лаваш в сковороду на горячее масло. Огонь на плите установите на средний. Обжаривайте лаваш с одной стороны примерно с полминуты.</h5>
                    <h5 style="padding-top:10px;padding-bottom:7px;font-weight:normal; text-align:left; font-size:calc(13px + (13+13*0,7) * (100vw - 320px) / 1080);font-weight:bold;">Шаг 7</h5>
                    <h5 style="padding-top:10px;padding-bottom:7px;font-weight:normal; text-align:left; font-size:calc(11px + (11+11*0,7) * (100vw - 320px) / 1080);">Переверните лаваш на другую сторону.</h5>
                    <h5 style="padding-top:10px;padding-bottom:7px;font-weight:normal; text-align:left; font-size:calc(13px + (13+13*0,7) * (100vw - 320px) / 1080);font-weight:bold;">Шаг 8</h5>
                    <h5 style="padding-top:10px;padding-bottom:7px;font-weight:normal; text-align:left; font-size:calc(11px + (11+11*0,7) * (100vw - 320px) / 1080);">Влейте прямо на лаваш в сковороде столовую ложку воды (ту же, в которой замачивался лаваш). Будьте аккуратны, чтобы не обжечься паром!</h5>
                    <h5 style="padding-top:10px;padding-bottom:7px;font-weight:normal; text-align:left; font-size:calc(13px + (13+13*0,7) * (100vw - 320px) / 1080);font-weight:bold;">Шаг 9</h5>
                    <h5 style="padding-top:10px;padding-bottom:7px;font-weight:normal; text-align:left; font-size:calc(11px + (11+11*0,7) * (100vw - 320px) / 1080);">Смажьте лаваш частью яичной смеси с помощью кулинарной кисти. Или столовой ложки, если не хотите пачкать кисть.</h5>
                    <h5 style="padding-top:10px;padding-bottom:7px;font-weight:normal; text-align:left; font-size:calc(13px + (13+13*0,7) * (100vw - 320px) / 1080);font-weight:bold;">Шаг 10</h5>
                    <h5 style="padding-top:10px;padding-bottom:7px;font-weight:normal; text-align:left; font-size:calc(11px + (11+11*0,7) * (100vw - 320px) / 1080);">Лопаткой переверните лаваш вниз "яичной" стороной. Внимание! нужна хорошая сковорода, чтобы яйцо не пригорело.</h5>
                    <h5 style="padding-top:10px;padding-bottom:7px;font-weight:normal; text-align:left; font-size:calc(13px + (13+13*0,7) * (100vw - 320px) / 1080);font-weight:bold;">Шаг 11</h5>
                    <h5 style="padding-top:10px;padding-bottom:7px;font-weight:normal; text-align:left; font-size:calc(11px + (11+11*0,7) * (100vw - 320px) / 1080);">Снова добавьте на заготовку столовую ложку воды. И опасайтесь образующегося от этого горячего пара.</h5>
                    <h5 style="padding-top:10px;padding-bottom:7px;font-weight:normal; text-align:left; font-size:calc(13px + (13+13*0,7) * (100vw - 320px) / 1080);font-weight:bold;">Шаг 12</h5>
                    <h5></h5>
                    <h5 style="padding-top:10px;padding-bottom:15px;font-weight:normal; text-align:left; font-size:calc(11px + (11+11*0,7) * (100vw - 320px) / 1080);">Еще раз переверните лаваш и сверните его пополам. Блюдо готово! Подавайте его горячим.</h5>

                    <a style="font-size:calc(12px + (15+15*0,7) * (100vw - 320px) / 1080);display:inline-block;background:#eb5959;color:#fff3cd;padding:1rem 1.5 rem;text-decoration:none;border-radius:3px;"href="https://1000.menu/cooking/4235-lavash-jarenyi-s-yaicom" class="btn">Подробнее</a>

                </div>
    </div>
{% endblock%}

{% block title %}Рецепт{% endblock %}