{% extends 'main/layout.html' %}

{% block css %}
  <link rel= "stylesheet" href="static/main/css/contact.css">
{% endblock %}

{% block title %} Контакты {% endblock %}

{% block header%}
  <h1>Связаться с нами</h1>
{% endblock %}

{% block content%}

<form method="POST">
  {% csrf_token %}
  {{ form.name }} <br>
  {{ form.email }} <br>
  {{ form.message }} <br>
  <button style="font-size:calc(9px + (16+16*0,7) * (100vw - 320px) / 1080);"class ="btn btn-success" type="submit" value="submit">Отправить</button>
  <br><br>
  <span style="color:white; margin-bottom:10px;margin-top:10px">{{ error }}</span>
  <br><br><br><br><br><br><br><br>

</form>
{% endblock%}

