{% extends 'main/layout.html' %}
{% block header%}
<h1>Рецепты</h1>
{% endblock%}
{% block content%}
    <div style="margin-top:20px;" class="features">
                <div style="margin-top:20px;margin-bottom:200px;" class="alert alert-warning">
                    <h3 style="font-size:calc(17px + (22+22*0,7) * (100vw - 320px) / 1080);">Лаваш с яйцом на сковороде</h3>
                    <h6 style="padding-top:7px;font-weight:normal; text-align:left; font-size:calc(10px + (12+12*0,7) * (100vw - 320px) / 1080);">Простой, быстрый и очень вкусный завтрак на каждый день! </h6>
                    <h6 style="padding-top:7px;font-weight:normal; text-align:left; font-size:calc(10px + (12+12*0,7) * (100vw - 320px) / 1080);">Лаваш с яйцом на сковороде понравится всем любителям утренних блюд на скорую руку из простых продуктов. Его можно дополнять чем угодно: сыром, грибами, овощами, колбасой, ветчиной, беконом, зеленью. Он хорош на перекус, к завтраку и к ужину.</h6>
                    <br>
                    <img style="width:100%;margin-bottom:20px;"src="static/main/img/3.jpg" >
                    <a style="font-size:calc(12px + (15+15*0,7) * (100vw - 320px) / 1080);display:inline-block;background:#eb5959;color:#fff3cd;padding:1rem 1.5 rem;text-decoration:none;border-radius:3px;"href="articles_receipts_1" class="btn">Подробнее</a>
                </div>
    </div>
{% endblock%}

{% block title %}Рецепты{% endblock %}