form{
    background:#4d4d4d;
    float:left;
    width:82%;
    margin-left:9%;
    padding:20px;
    margin-bottom:100px;
    text-align:center;
}
form label{
    width:100%;
    padding:10px;
    text-align:left;
}
.text{
    width:100%;
    padding:10px;
}
form div {
    background:white;
    border-radius:5px;
    margin-bottom:30px;
}

form p{
    color:white
}

form button{
    float:left;
    padding:10px;
    margin-bottom:10px;
}
label.check{
    padding:2px;
    padding-left:10px;
}